---
layout: page
# All the Tags of posts.
---

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign tags = '' | split: '' %}
  {% for t in site.tags %}
    {% assign tags = tags | push: t[0] %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %}

  {% for t in sorted_tags %}
   {% assign tag_name = t[0] %}
    {% assign tag_url = tag_name | slugify | url_encode | prepend: site.tag_path | append: '/' | relative_url %}

    <div>
      <a class="tag" href="{{ tag_url }}">
        {{ tag_name }}
        <span class="text-muted">{{ site.tags[t].size }}</span>
      </a>
    </div>
  {% endfor %}
</div>
